
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}






@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca:wght@400&display=swap');



body {
    background: #F2F2F2;
    font-family: 'Lexend Deca', sans-serif;
    padding: 88px 24px;
}


/* Main Container */

.container {
    max-width: 920px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    border-radius: 8px;
}


/* Cards */

.card {
    flex: 1;
    padding: 48px;
}


.sedan {
    background: #E38826;
}


.suv {
    background: #006970;
}


.luxury {
    background: #004241;
}


/* Icon */

.card-icon {
    width: 64px;
    height: 40px;
    display: block;
    margin-bottom: 40px;
}


/* Heading */

.card h2 {
    font-family: 'Big Shoulders Display', sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 25px;
}


/* Description */

.card p {
    max-width: 212px;
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    color: #FFFFFFBF;
    margin-bottom: 82px;
}


/* Button */

.card button {
    padding: 14px 32px;
    border: 2px solid #FFFFFF;
    border-radius: 25px;
    background: #FFFFFF;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
    cursor: pointer;
    transition: 0.3s;
}


.sedan button {
    color: #E38826;
}


.suv button {
    color: #006970;
}


.luxury button {
    color: #004241;
}


.card button:hover {
    background: transparent;
    color: #FFFFFF;
}


/* Tablet */

@media (max-width: 900px) {

    .card {
        padding: 40px;
    }


    .card p {
        margin-bottom: 50px;
    }

}


/* Mobile */

@media (max-width: 768px) {

    body {
        padding: 88px 24px;
    }


    .container {
        flex-direction: column;
        max-width: 327px;
    }


    .card {
        padding: 48px;
    }


    .card p {
        max-width: 100%;
        margin-bottom: 32px;
    }

}